body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2{
 font-family: "Momo Trust Display", sans-serif;

}

.section-nav{
  text-decoration: underline
}

@tailwind base;
@tailwind components;
@tailwind utilities;